:root {
    /* typography */
    --font-puff: 'DynaPuff';
    --font-outfit: 'Outfit';

    /* colors */
    --color-punch-red: #E63946;
    --color-honeydew: #F1FAEE;
    --color-sunflower: #EDB230;
    --color-carbon: #191919;
    --color-ocean: #2E86AB;
}

body {
    background-color: honeydew;
    font-family: var(--font-outfit);
    color: var(--color-carbon);
}

/* nav styles */
.logotype{
    font-family: var(--font-puff);
    font-size: 3rem !important;
}
.logotype:hover{
    text-decoration: none !important;
}

.custom-nav {
    background-color: var(--color-punch-red);
}

.nav-item {
    display: flex;
    align-items: center;
}
.custom-nav .nav-link {
    color: var(--color-honeydew) !important;
}
.custom-nav .nav-link:hover {
    color: var(--color-honeydew) !important;
    text-decoration: underline;
    font-weight: 700;
    scale: 1;
}

#jellyMatchHero {
    background-color: var(--color-punch-red);
    padding: 4rem 10rem;
}

h1 {
    font-family: var(--font-puff);
    font-weight: 900;
}

/* jelly cards section */
.card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

/* footer */
.footer-title {
    font-family: var(--font-puff);
    color: var(--color-honeydew);
}

/* game */
.gameHeader{
    color: var(--color-honeydew);
}